@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Healthcare .Net Core</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Healthcare Sample</h2>
        <p>
            This is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
        <p>
            Click in this box or on the Patients link above to begin.
        </p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Patients" asp-action="Index">See the Patients &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Check it out</h2>
        <p>You can see the code on GitHub.</p>
        <p><a class="btn btn-default" href="#">Update Me, Craig! &raquo;</a></p>
    </div>
</div>